//
@import "font.sass"

*,*::before,*::after
  box-sizing: border-box
  margin: 0
  padding: 0
  border: none

html
  overflow-x: hidden

.container
  max-width: 1100px
  padding-left: 15px
  padding-right: 15px
  margin: 0 auto

header
  // background
  background: rgb(236,231,248)
  background: -moz-linear-gradient(180deg, rgba(236,231,248,1) 0%, rgba(219,211,241,1) 100%)
  background: -webkit-linear-gradient(180deg, rgba(236,231,248,1) 0%, rgba(219,211,241,1) 100%)
  background: linear-gradient(180deg, rgba(236,231,248,1) 0%, rgba(219,211,241,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ece7f8",endColorstr="#dbd3f1",GradientType=1)

  height: 100vh

.navigation
  height: 90px
  display: grid
  grid-template-columns: repeat(3 , 1fr)
  grid-template-areas: 90px 90px
  grid-template-areas: "logo nav login"

  img
    margin: auto
    margin-left: 0
    z-index: 500

  nav
    margin: auto
    a
      color: #4e5983
      font-size: 16px
      font-weight: 400
      text-decoration: none
      margin-right: 45px
      &:last-child
        margin-right: 0


  .login
    margin: auto
    margin-right: 0
    button
      color: #4e5983
      font-size: 16px
      font-weight: 400
      background: none
      &:last-child
        font-weight: 500
        border-radius: 9px
        background-color: rgba(162, 128, 255, 0.11)
        padding: 18px 14px
        margin-left: 20px

.navigation img
  grid-area: logo
nav
  grid-area: nav
.null
  grid-area: null
.login
  grid-area: login
.header__burger
  grid-area: burger

@media (max-width: 877px)
  .navigation
    nav
      a
        margin-right: 21px


.header__burger
  display: none

.header__burger.active
  &::before
    transform: rotate(45deg)
    top: 9px
  &::after
    transform: rotate(-45deg)
    top: 9px
  span
    transform: scale(0)

@media (max-width:768px)
  body.lock
    overflow: hidden

  .navigation
    grid-template-areas: "logo null burger" "nav null login"
  .navigation img
    margin-left: 15%
  .navigation nav
    display: none

  .login
    display: none

  .header__burger
    margin: auto
    display: block
    position: relative
    width: 30px
    height: 20px
    &::after, &::before
      content: ""
      width: 100%
      height: 2px
      position: absolute
      left: 0
      background-color: #160647
      transition: all .3s ease 0s
    &::after
      top: 0
    &::before
      bottom: 0
    span
      position: absolute
      background-color: #160647
      width: 100%
      left: 0
      top: 9px
      height: 2px
      transition: all .3s ease 0s


  a
    display: none


nav.active
  display: block
  position: absolute
  left: 0
  width: 100%
  // background: linear-gradient(180deg, rgba(236,231,248,1) 0%, rgba(219,211,241,1) 100%)
  background: red
  height: 30vh
  overflow: auto
  transition: all .3s ease 0s
  a
    color: #f7f7f7
    font-size: 20px
    font-weight: 400
    padding: 0
    display: inline-block
    // transition: all 1s ease 1s
    margin-top: 50px
    &:first-child
      margin-top: 11%
      margin-left: 6%

.login.active
  display: block
  z-index: 1
  position: absolute
  right: 7%
  top: 12%










        //
