//
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap')

body,p,a,span,h1,h2,h3,h4,h5,h6,button
  font-family: "Rubik"

@import "mixin/hover/hover.sass"
@import "mixin/flex.sass"

*,*::before,*::after
  box-sizing: border-box
  margin: 0
  padding: 0
  border: none
  outline: none

html
  overflow-x: hidden

.container
  max-width: 1100px
  padding-left: 15px
  padding-right: 15px
  margin: 0 auto

input[type='number']
  -moz-appearance: textfield

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none

select
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none


header
  background: rgb(236,231,247)
  background: -moz-linear-gradient(180deg, rgba(236,231,247,1) 0%, rgba(219,211,241,1) 15%, rgba(255,255,255,1) 100%)
  background: -webkit-linear-gradient(180deg, rgba(236,231,247,1) 0%, rgba(219,211,241,1) 15%, rgba(255,255,255,1) 100%)
  background: linear-gradient(180deg, rgba(236,231,247,1) 0%, rgba(219,211,241,1) 15%, rgba(255,255,255,1) 100%)


.navigation
  min-height: 90px
  display: -webkit-flex
  display: flex
  justify-content: space-between
  align-items: center

.header_logo
  z-index: 5
nav
  a
    color: #4e5983
    text-decoration: none
    @include hover_center(#4e5983, 100%)
    margin-right: 40px
    z-index: 5
    &:last-child
      margin-right: 0


.login
  margin-right: 25px
  z-index: 3
  button
    color: #4e5983
    font-size: 16px
    cursor: pointer
    font-weight: 400
    background: none
    width: 120px
    z-index: 5
    height: 55px
    transition: .3s
    border-radius: 9px
    animation-timing-function: ease-in-out
    &:hover
      background-color: rgba(161,127,255,0.11)
    &:focus
      outline: none



.header-burger
  display: none



@media (max-width: 810px)
  .login
    button
      width: 90px


@media (max-width: 767px)
  nav
    a
      margin-right: 16px

@media (max-width: 690px)
  .header-burger
    width: 20px
    height: 20px
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-right: 16px
    cursor: pointer
    transition: transform 330ms ease-out
    z-index: 3
    &.open
      transform: rotate(-45deg)

  .line-menu
    background-color: #4e5983
    border-radius: 5px
    width: 100%
    height: 2px
    &.half
      width: 50%
    &.start
      transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57)
      transform-origin: right
    &.end
        align-self: flex-end
        transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57)
        transform-origin: left

  .open .line-menu
    background-color: #fff
  .open .line-menu.start
    transform: rotate(-90deg) translateX(3px)

  .open .line-menu.end
    transform: rotate(-90deg) translateX(-3px)

  nav
    display: none
  .login
    position: absolute
    top: -44px
    left: 32px
    transition: 0.4s
    animation-timing-function: ease-in-out
    button
      display: none
    &.open
      top: 262px

      button
        font-size: 28px
        color: #a07efe
        display: inline-block
        width: 45%
        &:hover
          background: none

  nav
    position: absolute
    top: -153px
    left: 42px
    display: flex
    flex-direction: column
    transition: .3s
    animation-timing-function: ease-in-out
    &.open
      top: 68px
      a
        color: #160647
        font-size: 28px
        margin-top: 20px



.burger-bg
  background: rgb(86,46,194)
  background: -moz-linear-gradient(0deg, rgba(86,46,194,1) 0%, rgba(160,126,254,1) 100%)
  background: -webkit-linear-gradient(0deg, rgba(86,46,194,1) 0%, rgba(160,126,254,1) 100%)
  background: linear-gradient(0deg, rgba(86,46,194,1) 0%, rgba(160,126,254,1) 100%)
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 0
  border-radius: 0 0 500px 500px
  transition: .4s
  animation-timing-function: ease-in-out
  z-index: 2
  &.open
    border-radius: 0 0 25px 25px
    height: 60%




#main
  // background: url(../img/bg.png) no-repeat center / cover
  // background: url(../img/bg.png) no-repeat center / cover
  width: 100%
  // height: 100%
  // height: calc(100% - 90px)
  // height: -moz-calc(100% - 90px)
  // height: -webkit-calc(100% - 90px)
  height: 801px
  background-repeat: no-repeat
  background-position: center
  background-size: cover

  h1
    max-width: 853px
    color: #ffffff
    font-size: 60px
    font-weight: 700
    line-height: 67.14px
    text-align: center
    margin: 0 auto
    padding-top: 110px
    text-align: center

  h4
    color: #ffffff
    font-size: 19px
    padding-top: 22px
    font-weight: 400
    text-align: center

  #exchange
    // display: grid
    // grid-template-columns: 300px 110px 300px 157px
    // grid-template-rows: 126px
    // justify-content: center
    display: -webkit-flex
    display: -ms-flex
    display: flex
    justify-content: space-around
    padding-top: 78px

    margin: 54px auto 0
    position: relative
    max-width: 1109px
    height: 284px
    border-radius: 26px
    border: 4px solid #f7f8fd
    background-color: #ffffff
    background: rgba(255 , 255, 255, 0.8)
    z-index: 1
    &::after, &::before
      content: ""
      position: absolute
      background: rgba(255 , 255, 255, 0.2)
      border-radius: 0px 0px 26px 26px
      -moz-border-radius: 0px 0px 26px 26px
      -webkit-border-radius: 0px 0px 26px 26px
      z-index: -5
    &::after
      width: 1009px
      height: 20px
      left: 35px
      bottom: -20px
    &::before
      width: 919px
      height: 26px
      left: 80px
      bottom: -30px



.payment
  margin-left: 50px
.payment,
.enter
  height: 126px
  display: grid
  p
    color: #4e5983
    font-size: 18px
    font-weight: 500
    padding-bottom: 9px
    span
      color: #4e5983
      font-size: 12px
      font-weight: 400
      margin-bottom: -20px
  span
    opacity: 0.5
    color: #4e5983
    font-size: 14px
    font-weight: 400
    align-self: flex-end
  form
    display: -webkit-flex
    display: -ms-flex
    display: flex
    align-items: flex-end
    position: relative
    &::before
      content: ""
      position: absolute
      bottom: -6px
      left: 0
      width: 195px
      height: 2px
      background-color: #d6dce2
      opacity: 0.25
    &::after
      content: ""
      position: absolute
      bottom: 6px
      left: 95px
      width: 2px
      height: 25px
      background-color: #cfd4da
    select
      margin-left: 25px
      background: none
      padding: 12px 12px 12px 5px
      position: relative
      color: #4e5983
      border-radius: 0px
      // padding: 18px 36px
      display: inline-block
      font-size: 14px
      letter-spacing: 1px
      cursor: pointer
      box-shadow: inset 0 0 0 0 #7250cd
      -webkit-transition: ease-in-out 0.55s
      -moz-transition: ease-in-out 0.55s
      transition: box-shadow ease-in-out 0.55s, color ease-in-out 1s
      &:hover
        transition: box-shadow ease-in-out 0.55s, color ease-in-out 0.2s
        box-shadow: inset 200px 38px 0 0 #ae91fe
        color: #fff
      &:focus
        outline: none
      option
        color: #4e5983
        background: #f3effe
        &:focus
          outline: none


  input[type="number"]
    font-size: 20px
    padding: 0px
    background: none
    width: 90px
    &:focus
      outline: none



.swap
  align-self: center
  padding-top: 15px
  button[name="swap"]
    background: none
    width: 17px
    height: 17px
    font-size: 15px
    color: #4e5983
    cursor: pointer
    transition: .3s
    animation-timing-function: ease-in-out
    &:hover
      transform: scale(1.1)
    &:focus
      outline: none


.button-exchange
  align-self: center
  padding-top: 37px

  button[name="exchange"]
    width: 157px
    height: 55px
    margin-right: 17px
    font-weight: 700
    font-size: 14px
    color: #ffffff
    cursor: pointer
    border-radius: 9px
    // background-image: linear-gradient(NaNdeg, #562ec2 0%, #a07efe 100%)
    background: rgb(86,46,194)
    background: -moz-linear-gradient(90deg, rgba(86,46,194,0.8) 0%, rgba(160,126,254,0.8) 100%)
    background: -webkit-linear-gradient(90deg, rgba(86,46,194,0.8) 0%, rgba(160,126,254,0.8) 100%)
    background: linear-gradient(90deg, rgba(86,46,194,0.8) 0%, rgba(160,126,254,0.8) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#562ec2",endColorstr="#a07efe",GradientType=1)

    transition: 1s
    animation-timing-function: ease-in-out

    &:hover
      transition: .3s
      animation-timing-function: ease-in-out
      transform: scale(1.1)
    &:focus
      outline: none



@media (max-width: 1056px)
  #main
    h1
      padding-top: 50px

  .swap
    position: relative
    button
      position: absolute
      left: -54px
      bottom: -9px

@media (max-width: 830px)
  #main
    h1
      font-size: 35px
    #exchange
      &::after,
      &::before
        display: none
  select
    &:hover
      box-shadow: none
      color: #4e5983
  #main #exchange
    height: 244px
    padding-top: 57px
  .swap button
    bottom: -17px
  .button-exchange button[name="exchange"]
    width: 134px
    height: 48px
    font-size: 14px

@media (max-width: 767px)
  #main
    h1
      font-size: 29px
      padding-top: 18px
    h4
      padding-top: 0
      font-size: 18px

@media (max-width: 693px)
  .button-exchange button[name="exchange"]
    width: 95px
    height: 44px
    font-size: 13px
    margin-right: 41px


@media (max-width: 646px)
  #main
    h1
      font-size: 24px
      padding-top: 5px
    #exchange
      height: 213px
      padding-top: 43px
    .swap button
      bottom: -26px


@media (max-width: 645px)
  #main
    h1
      font-size: 24px
      padding-top: 5px
      line-height: 34px
    h4
      padding-top: 14px
      font-size: 15px
    #exchange
      max-width: 300px
      height: 400px
      padding-top: 20px
      margin: 38px auto 0
      display: -webkit-flex
      display: -ms-flex
      display: flex
      flex-direction: column
      .payment
        margin-left: 0
      .enter
        p span
          display: block
          margin-bottom: 0
      .payment,
      .enter
        height: auto
        margin: 0 0 0 auto

  .swap
    align-self: auto
    padding-top: 0
    button[name="swap"]
      opacity: 0.7
      top: -15px
      right: 33%
      left: auto
      bottom: auto
      &:hover
        transform: scale(1)
  .payment form select:hover,
  .enter form select:hover
    box-shadow: none
    color: #4e5983
  .button-exchange
    padding-top: 0
    button[name="exchange"]
      margin-right: 0
      &:hover
        transform: scale(1)




#about
  min-height: 842px
  background: rgb(198,184,234)
  background: -moz-linear-gradient(180deg, rgba(198,184,234,1) 0%, rgba(254,254,254,1) 100%)
  background: -webkit-linear-gradient(180deg, rgba(198,184,234,1) 0%, rgba(254,254,254,1) 100%)
  background: linear-gradient(180deg, rgba(198,184,234,1) 0%, rgba(254,254,254,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c6b8ea",endColorstr="#fefefe",GradientType=1)
  position: relative
  .about
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-flow: row wrap
    align-items: stretch
    justify-content: space-between
    padding-top: 81px
  // img
    margin-bottom: 18px
  h1
    color: #4e5983
    font-size: 22px
    font-weight: 500
    margin-bottom: 18px
  p
    opacity: 0.7
    color: #4e5983
    font-size: 18px
    font-weight: 400
    line-height: 29.97px

  .security
    img
      padding-top: 20px
    p
      max-width: 239px
  .referal
    img
      padding-top: 20px
    p
      max-width: 314px
  .support
    p
      max-width: 264px


#history
  position: relative
  h1
    color: #160647
    font-size: 35px
    font-weight: 500
    line-height: 46.34px
    max-width: 311px
    margin-bottom: 13px
  h4
    opacity: 0.7
    color: #4e5983
    font-size: 18px
    font-weight: 400
    line-height: 29.97px
    max-width: 379px
  .history-block
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 1100px
    min-height: 550px
    border-radius: 26px
    border: 4px solid #f7f8fd
    background: #fff
    padding: 18px 69px

    display: -webkit-flex
    display: -ms-flex
    display: flex

    align-items: center
    justify-content: space-between
    &::before
      content: ""
      background-image: url('../img/history/dots-left.png')
      background-repeat: no-repeat
      position: absolute
      top: 10px
      left: -128px
      width: 123px
      height: 307px
    &::after
      content: ""
      background-image: url('../img/history/dots-right.png')
      background-repeat: no-repeat
      position: absolute
      bottom: -16px
      right: -36px
      width: 177px
      height: 97px



// @media (max-width: 810px)



// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~






#reserve
  background: rgb(239,242,250)
  background: -moz-linear-gradient(180deg, rgba(239,242,250,1) 0%, rgba(255,255,255,0) 100%)
  background: -webkit-linear-gradient(180deg, rgba(239,242,250,1) 0%, rgba(255,255,255,0) 100%)
  background: linear-gradient(180deg, rgba(239,242,250,1) 0%, rgba(255,255,255,0) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eff2fa",endColorstr="#ffffff",GradientType=1)
  height: 651px
  padding-top: 350px
  margin-bottom: 150px
  h1
    color: #160647
    font-size: 35px
    font-weight: 500
    line-height: 39.17px
    text-align: center
    padding-bottom: 80px



.reserve-column
  // text-align: center
  // @include flexbox()
  justify-content: space-between
  // flex-wrap: wrap
  display: grid
  grid-template-columns: repeat(4, 230px)
  grid-template-rows: 55px 55px
  grid-row-gap: 80px
  // grid-template-columns: 1fr 1fr 1fr 1fr


.reserve-item
  display: grid
  grid-template-areas: "logo brand"
  grid-template-columns: 55px 155px
  grid-gap: 16px
  img
    grid-area: logo
  .brand
    grid-area: brand
    h4
      color: #a4aabf
      font-size: 16px
      font-weight: 400
    p
      color: #160647
      font-size: 18px
      font-weight: 400
      line-height: 31.99px



#comment
  min-height: 480px
  h1
    color: #160647
    font-size: 35px
    font-weight: 500
    line-height: 46.34px
  p
    width: 488px
    opacity: 0.7
    color: #4e5983
    font-size: 18px
    font-weight: 400
    line-height: 29.88px
    position: relative
    z-index: 2
    // &::before
      content: ""
      position: absolute
      top: 0
      left: 0
      background: url(../img/comment_bgr.png) no-repeat
      width: 167px
      height: 185px
      z-index: 1

  h3
    color: #160647
    font-size: 20px
    font-weight: 400
    line-height: 31.1px
    display: inline-block
    margin-right: 30px
  span
    color: #838ba8
    font-size: 14px
    font-weight: 400


.owl-carousel
  margin-top: 100px
  .nav-btn
    height: 15px
    // position: absolute
    cursor: pointer

  .owl-prev .nav-btn
    width: 37px
  .owl-next .nav-btn
    width: 72px

  .prev-slide
    background: url(../img/Arrows.png) no-repeat scroll 0 0
    right: 24px
    // left: -33px
    &:hover
      background-position: 0px -15px
    &:focus
      outline: none

  .next-slide
    background: url(../img/Arrows.png) no-repeat scroll -37px 0px
    // right: -23px
    &:hover
      background-position: -37px -15px
    &:focus
      outline: none

.owl-theme .owl-nav
  text-align: right
  &.owl-theme
    &:focus
      outline: none

.owl-theme .owl-nav [class*=owl-]:hover
  background: none



#main-2nd
  position: relative
  margin-top: 170px
  .main_2nd
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 1238px
    height: 447px
    background: url('../img/main_2nd.jpg') no-repeat
    display: grid
    grid-template-areas: ". content"
    grid-template-columns: 1fr 1fr
    align-items: flex-end
    .main_2nd-content
      grid-area: content
      // align-self: center
      margin-bottom: 34px
      h2
        max-width: 466px
        color: #ffffff
        font-size: 35px
        font-weight: 500
        line-height: 46.34px
      h6
        opacity: 0.7
        color: #ffffff
        font-size: 18px
        font-weight: 400
        line-height: 29.97px
        display: block
        margin: 22px 0 48px
      button
        color: #9f7dfd
        font-size: 16px
        font-weight: 500
        width: 225px
        height: 70px
        border-radius: 10px
        background-color: rgba(255, 255, 255, 0.8)
        box-shadow: 0px 0px 6px 0px floralwhite
        transition: .3s ease-in-out
        &:hover
          transition: .3s ease-in-out
          box-shadow: 0 0 20px 2px floralwhite



footer
  height: 100px
  position: relative
  margin-top: 500px

  .footer_content
    @include flexbox()
    justify-content: space-between

    .footer_logo
      position: relative
      span
        position: absolute
        bottom: -32px
        left: 28px
        color: #838ba8
        font-size: 14px
        font-weight: 400
        width: 290px
    nav
      a
        color: #4e5983
        font-size: 14px
        font-weight: 400
    .social
      i
        font-size: 26px
        width: 29px
        height: 29px
        color: #fff
        text-align: center

      .fa-vk
        background-color: #4d76a1
        border-radius: 50%
        font-size: 19px
        padding-top: 5px
      .fa-facebook-f
        background-color: #3b5998
        border-radius: 50%
        font-size: 19px
        padding-top: 5px
        margin: 0 8px
      .fa-instagram
        background: rgb(255,221,85)
        background: -moz-linear-gradient(45deg, rgba(255,221,85,1) 0%, rgba(255,84,62,1) 50%, rgba(200,55,171,1) 100%)
        background: -webkit-linear-gradient(45deg, rgba(255,221,85,1) 0%, rgba(255,84,62,1) 50%, rgba(200,55,171,1) 100%)
        background: linear-gradient(45deg, rgba(255,221,85,1) 0%, rgba(255,84,62,1) 50%, rgba(200,55,171,1) 100%)
        // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffdd55",endColorstr="#c837ab",GradientType=1)
        border-radius: 25%
        font-size: 25px
        padding-top: 1px
        padding-left: 1px


.fa-vk,
.fa-facebook-f,
.fa-instagram
  transition: .3s ease-in-out
.fa-vk:hover
  box-shadow: 0px 0px 9px 1px #4d76a1
.fa-facebook-f:hover
  box-shadow: 0px 0px 9px 1px #3b5998
.fa-instagram:hover
  box-shadow: 0px 0px 9px 1px rgb(255,221,85)





//
