//
@import "font.sass"
@import "mixin/hover/hover.sass"

@import "qq.sass"

header
  height: 100vh
  background: rgb(236,231,247)
  background: -moz-linear-gradient(180deg, rgba(236,231,247,1) 0%, rgba(219,211,241,1) 15%, rgba(255,255,255,1) 100%)
  background: -webkit-linear-gradient(180deg, rgba(236,231,247,1) 0%, rgba(219,211,241,1) 15%, rgba(255,255,255,1) 100%)
  background: linear-gradient(180deg, rgba(236,231,247,1) 0%, rgba(219,211,241,1) 15%, rgba(255,255,255,1) 100%)

@import "navigation.sass"
@import "exchange.sass"



#about
  min-height: 842px
  background: rgb(198,184,234)
  background: -moz-linear-gradient(180deg, rgba(198,184,234,1) 0%, rgba(254,254,254,1) 100%)
  background: -webkit-linear-gradient(180deg, rgba(198,184,234,1) 0%, rgba(254,254,254,1) 100%)
  background: linear-gradient(180deg, rgba(198,184,234,1) 0%, rgba(254,254,254,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c6b8ea",endColorstr="#fefefe",GradientType=1)
  position: relative
  .about
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-flow: row wrap
    align-items: stretch
    justify-content: space-between
    padding-top: 81px
  // img
    margin-bottom: 18px
  h1
    color: #4e5983
    font-size: 22px
    font-weight: 500
    margin-bottom: 18px
  p
    opacity: 0.7
    color: #4e5983
    font-size: 18px
    font-weight: 400
    line-height: 29.97px

  .security
    img
      padding-top: 20px
    p
      max-width: 239px
  .referal
    img
      padding-top: 20px
    p
      max-width: 314px
  .support
    p
      max-width: 264px


#history
  position: relative
  h1
    color: #160647
    font-size: 35px
    font-weight: 500
    line-height: 46.34px
    max-width: 311px
    margin-bottom: 13px
  h4
    opacity: 0.7
    color: #4e5983
    font-size: 18px
    font-weight: 400
    line-height: 29.97px
    max-width: 379px
  .history-block
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 1100px
    min-height: 550px
    border-radius: 26px
    border: 4px solid #f7f8fd
    background: #fff
    padding: 18px 69px

    display: -webkit-flex
    display: -ms-flex
    display: flex

    align-items: center
    justify-content: space-between
    &::before
      content: ""
      background-image: url('../img/history/dots-left.png')
      background-repeat: no-repeat
      position: absolute
      top: 10px
      left: -128px
      width: 123px
      height: 307px
    &::after
      content: ""
      background-image: url('../img/history/dots-right.png')
      background-repeat: no-repeat
      position: absolute
      bottom: -16px
      right: -36px
      width: 177px
      height: 97px







#reserve
  background: rgb(239,242,250)
  background: -moz-linear-gradient(180deg, rgba(239,242,250,1) 0%, rgba(255,255,255,0) 100%)
  background: -webkit-linear-gradient(180deg, rgba(239,242,250,1) 0%, rgba(255,255,255,0) 100%)
  background: linear-gradient(180deg, rgba(239,242,250,1) 0%, rgba(255,255,255,0) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eff2fa",endColorstr="#ffffff",GradientType=1)
  height: 651px





















//
